name: arrs

services:
  plex2:
    container_name: plex2
    # Update to newest
    # image: plexinc/pms-docker:1.42.1.10060-4e8b05daf
    # image: plexinc/pms-docker:1.42.2.10156-f737b826c
    # docker pull plexinc/pms-docker:1.43.0.10492-121068a07
    image: plexinc/pms-docker:1.43.0.10492-121068a07
    restart: unless-stopped
    environment:
      - TZ=${PLEX_TZONE}
      - PLEX_CLAIM=${PLEX_CLAIM}
      - PLEX_UID=${PLEX_UID}
      - PLEX_GID=${PLEX_GID}
    network_mode: host
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - ${PLEX2_CONFIG_DIR}:/config
      - ${PLEX2_TRANSCODE_DIR}:/transcode
      - ${PLEX2_DATA_DIR}:/data/media
